# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
bin/*

# Fitxers de sistema
Thumbs.db
ehthumbs.db
Desktop.ini

# Carpetes ocultes del sistema
$RECYCLE.BIN/
System Volume Information/

# Fitxers de propietats d'Explorer
*.lnk

# Fitxers de thumbnail generats per GNOME/KDE
.thumbnail/
.thumbnails/
.cache/
.Trash-*/  # papereres d'usuari

# Fitxers de lock
*.swp
*.swo
*~

# Ignore release folder
Release/
node_modules

target/
target/classes
target/maven-status
target/surefire-reports
*.class
dades.sqlite

.continue

# Ignore pycache
__pycache__